In [1]:
import sqlite3
from sqlite3 import Error

In [2]:

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [33]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = ["""
        SELECT f.name, 
        SUM(CASE 
            WHEN b.memid = 0 THEN b.slots * f.guestcost
            ELSE b.slots * f.membercost 
        END) AS revenue
        FROM Facilities AS f
        INNER JOIN Bookings AS b ON f.facid = b.facid
        GROUP BY f.name
        HAVING revenue < 1000;
        """, """ SELECT 
        m.firstname || ' ' || m.surname AS member,
        r.firstname || ' ' || r.surname AS recommender
    FROM Members AS m
    LEFT JOIN Members AS r ON m.recommendedby = r.memid
    WHERE m.recommendedby IS NOT NULL
        AND m.recommendedby <> '';""", """SELECT COUNT(*), m.memid, f.name AS facility
FROM Members AS m
INNER JOIN Bookings AS b ON m.memid = b.memid
INNER JOIN Facilities AS f ON b.facid = f.facid
WHERE b.memid > 0
GROUP BY m.memid, f.name;""", """SELECT f.name, strftime('%m', b.starttime) AS booking_month, COUNT(*) AS total_bookings
FROM Facilities AS f
JOIN Bookings AS b ON f.facid = b.facid
GROUP BY f.name, booking_month
ORDER BY f.name, booking_month"""]
    rows = []
    for q in query1:
        cur.execute(q)
    
        rows = cur.fetchall()
        for row in rows:
            print(row)
        print('------------------------\n')

In [34]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
------------------------

('Janice Joplette', 'Darren Smith')
('Gerald Butters', 'Darren Smith')
('Nancy Dare', 'Janice Joplette')
('Tim Boothe', 'Tim Rownam')
('Ponder Stibbons', 'Burton Tracy')
('Charles Owen', 'Darren Smith')
('David Jones', 'Janice Joplette')
('Anne Baker', 'Ponder Stibbons')
('Jack Smith', 'Darren Smith')
('Florence Bader', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('David Pinker', 'Jemima Farrell')
('Matthew Genting', 'Gerald Butters')
('Anna Mackenzie', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Ramnaresh Sarwin', 'Florence Bader')
('Douglas Jones', 'David Jones')
('Henrietta Rumney', 'Matthew Genting')
('Henry Worthington-Smyth', 'Tracy Smith')
('Millicent Purview', 'Tracy Smith')
('John Hunt', 'Millicent Purview')
('Erica Crumpet', 'Tracy Smith')
------------------------

(132, 1, 'Badminton Court')
(28, 1, 'Massage Room 1')
(28, 1, 'Pool Table')
(12, 1, 'Snooker Table')
(14, 1, 'Squash Court')
(28, 1, 'Table Tennis')
(19, 1, 'Tennis Court 2')
(32, 2, 'Badminton Court')
(6, 2, 'Massage Room 1')
(61, 2, 'Pool Table')
(45, 2, 'Snooker Table')
(6, 2, 'Squash Court')
(28, 2, 'Table Tennis')
(30, 2, 'Tennis Court 1')
(2, 2, 'Tennis Court 2')
(4, 3, 'Badminton Court')
(80, 3, 'Massage Room 1')
(2, 3, 'Massage Room 2')
(241, 3, 'Pool Table')
(69, 3, 'Table Tennis')
(6, 3, 'Tennis Court 1')
(6, 3, 'Tennis Court 2')
(12, 4, 'Massage Room 1')
(2, 4, 'Massage Room 2')
(27, 4, 'Pool Table')
(68, 4, 'Snooker Table')
(14, 4, 'Squash Court')
(9, 4, 'Table Tennis')
(19, 4, 'Tennis Court 1')
(8, 4, 'Tennis Court 2')
(20, 5, 'Badminton Court')
(32, 5, 'Massage Room 1')
(1, 5, 'Massage Room 2')
(6, 5, 'Pool Table')
(34, 5, 'Snooker Table')
(9, 5, 'Squash Court')
(1, 5, 'Table Tennis')
(57, 5, 'Tennis Court 1')
(3, 5, 'Tennis Court 2')
(2, 6, 'Badminton Court')
(31, 6, 'Massage Room 1')
(30, 6, 'Pool Table')
(20, 6, 'Snooker Table')
(35, 6, 'Squash Court')
(24, 6, 'Table Tennis')
(31, 6, 'Tennis Court 1')
(3, 6, 'Tennis Court 2')
(10, 7, 'Badminton Court')
(19, 7, 'Massage Room 1')
(5, 7, 'Massage Room 2')
(19, 7, 'Pool Table')
(23, 7, 'Snooker Table')
(5, 7, 'Table Tennis')
(25, 7, 'Tennis Court 1')
(11, 7, 'Tennis Court 2')
(12, 8, 'Badminton Court')
(36, 8, 'Massage Room 1')
(25, 8, 'Pool Table')
(43, 8, 'Snooker Table')
(12, 8, 'Squash Court')
(4, 8, 'Table Tennis')
(4, 8, 'Tennis Court 1')
(52, 8, 'Tennis Court 2')
(16, 9, 'Badminton Court')
(19, 9, 'Massage Room 1')
(12, 9, 'Pool Table')
(20, 9, 'Snooker Table')
(2, 9, 'Squash Court')
(3, 9, 'Table Tennis')
(1, 9, 'Tennis Court 1')
(31, 9, 'Tennis Court 2')
(6, 10, 'Badminton Court')
(11, 10, 'Massage Room 1')
(2, 10, 'Massage Room 2')
(1, 10, 'Pool Table')
(22, 10, 'Snooker Table')
(7, 10, 'Squash Court')
(24, 10, 'Table Tennis')
(17, 10, 'Tennis Court 1')
(41, 10, 'Tennis Court 2')
(8, 11, 'Badminton Court')
(19, 11, 'Massage Room 1')
(4, 11, 'Massage Room 2')
(8, 11, 'Pool Table')
(2, 11, 'Snooker Table')
(8, 11, 'Squash Court')
(11, 11, 'Table Tennis')
(25, 11, 'Tennis Court 1')
(30, 11, 'Tennis Court 2')
(10, 12, 'Badminton Court')
(3, 12, 'Massage Room 1')
(2, 12, 'Massage Room 2')
(12, 12, 'Pool Table')
(49, 12, 'Squash Court')
(1, 12, 'Table Tennis')
(6, 12, 'Tennis Court 1')
(35, 12, 'Tennis Court 2')
(7, 13, 'Badminton Court')
(29, 13, 'Massage Room 1')
(1, 13, 'Pool Table')
(21, 13, 'Snooker Table')
(8, 13, 'Squash Court')
(12, 13, 'Table Tennis')
(1, 13, 'Tennis Court 1')
(1, 13, 'Tennis Court 2')
(12, 14, 'Badminton Court')
(27, 14, 'Massage Room 1')
(1, 14, 'Massage Room 2')
(7, 14, 'Pool Table')
(5, 14, 'Snooker Table')
(9, 14, 'Squash Court')
(5, 14, 'Table Tennis')
(22, 14, 'Tennis Court 1')
(1, 14, 'Tennis Court 2')
(9, 15, 'Badminton Court')
(2, 15, 'Massage Room 2')
(23, 15, 'Pool Table')
(33, 15, 'Snooker Table')
(2, 15, 'Squash Court')
(42, 15, 'Table Tennis')
(1, 15, 'Tennis Court 1')
(8, 15, 'Tennis Court 2')
(7, 16, 'Badminton Court')
(24, 16, 'Massage Room 1')
(85, 16, 'Pool Table')
(5, 16, 'Squash Court')
(24, 16, 'Table Tennis')
(14, 16, 'Tennis Court 1')
(7, 16, 'Tennis Court 2')
(7, 17, 'Badminton Court')
(3, 17, 'Massage Room 1')
(9, 17, 'Pool Table')
(16, 17, 'Snooker Table')
(3, 17, 'Squash Court')
(17, 17, 'Table Tennis')
(16, 17, 'Tennis Court 1')
(25, 20, 'Massage Room 1')
(1, 20, 'Massage Room 2')
(18, 20, 'Pool Table')
(1, 20, 'Snooker Table')
(26, 20, 'Table Tennis')
(1, 20, 'Tennis Court 1')
(30, 21, 'Badminton Court')
(1, 21, 'Massage Room 1')
(70, 21, 'Pool Table')
(7, 21, 'Snooker Table')
(2, 21, 'Squash Court')
(16, 21, 'Table Tennis')
(1, 22, 'Massage Room 1')
(2, 22, 'Massage Room 2')
(11, 22, 'Pool Table')
(10, 22, 'Snooker Table')
(1, 22, 'Squash Court')
(21, 22, 'Table Tennis')
(7, 22, 'Tennis Court 1')
(7, 24, 'Badminton Court')
(8, 24, 'Massage Room 1')
(3, 24, 'Massage Room 2')
(13, 24, 'Pool Table')
(18, 24, 'Snooker Table')
(2, 24, 'Squash Court')
(3, 24, 'Table Tennis')
(5, 24, 'Tennis Court 1')
(11, 24, 'Tennis Court 2')
(2, 26, 'Badminton Court')
(2, 26, 'Pool Table')
(1, 26, 'Squash Court')
(9, 26, 'Tennis Court 1')
(3, 27, 'Pool Table')
(14, 27, 'Snooker Table')
(2, 27, 'Squash Court')
(1, 27, 'Tennis Court 2')
(25, 28, 'Pool Table')
(1, 28, 'Snooker Table')
(1, 28, 'Squash Court')
(6, 28, 'Tennis Court 1')
(1, 28, 'Tennis Court 2')
(4, 29, 'Badminton Court')
(1, 29, 'Massage Room 1')
(33, 29, 'Pool Table')
(3, 29, 'Table Tennis')
(2, 30, 'Badminton Court')
(5, 30, 'Pool Table')
(1, 30, 'Snooker Table')
(1, 30, 'Squash Court')
(6, 30, 'Table Tennis')
(1, 30, 'Tennis Court 2')
(1, 33, 'Badminton Court')
(1, 33, 'Massage Room 1')
(8, 33, 'Pool Table')
(5, 33, 'Snooker Table')
(1, 33, 'Squash Court')
(2, 35, 'Badminton Court')
(3, 35, 'Massage Room 1')
(1, 35, 'Squash Court')
(1, 35, 'Table Tennis')
(4, 35, 'Tennis Court 1')
(4, 35, 'Tennis Court 2')
(2, 36, 'Badminton Court')
(2, 36, 'Massage Room 1')
(2, 36, 'Table Tennis')
(1, 36, 'Tennis Court 1')
------------------------

('Badminton Court', '07', 56)
('Badminton Court', '08', 146)
('Badminton Court', '09', 181)
('Massage Room 1', '07', 123)
('Massage Room 1', '08', 224)
('Massage Room 1', '09', 282)
('Massage Room 2', '07', 12)
('Massage Room 2', '08', 40)
('Massage Room 2', '09', 59)
('Pool Table', '07', 110)
('Pool Table', '08', 291)
('Pool Table', '09', 435)
('Snooker Table', '07', 75)
('Snooker Table', '08', 159)
('Snooker Table', '09', 210)
('Squash Court', '07', 75)
('Squash Court', '08', 170)
('Squash Court', '09', 195)
('Table Tennis', '07', 51)
('Table Tennis', '08', 147)
('Table Tennis', '09', 205)
('Tennis Court 1', '07', 88)
('Tennis Court 1', '08', 146)
('Tennis Court 1', '09', 174)
('Tennis Court 2', '07', 68)
('Tennis Court 2', '08', 149)
('Tennis Court 2', '09', 172)
------------------------